<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Microblogging Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <h1>Bienvenido a la aplicacion de microblogging</h1>
    <p>Esta es la pagina inicial del api, para poder usar los servicios sigue el siente link.</p>
    
    <div>
       <ul>
        <li>
            <a href="http://localhost/swagger-ui/index.html">Swagger UI</a>
        </li>
        <li>
            <a href="https://github.com/EmmanuelSantiz/microblogging">Url del proyecto</a>
        </li>
       </ul>
    </div>
</body>
</html>
